<app-search (action)="search($event)"></app-search>
<button type="button" class="btn btn-primary" (click)="create()">
    <i class="fa fa-plus" aria-hidden="true"></i>add
</button>
<h3>Users</h3>
<table class="app-table">
    <thead>
        <tr>
            <th>Email
                <app-sorting (action)="sort($event)" by="username" order="asc"></app-sorting>
            </th>            
            <th *ngIf="!hidePartyColumns">Party Id
                <app-sorting (action)="sort($event)" by="partyId" order="asc"></app-sorting>
            </th>
            <th *ngIf="!hidePartyColumns">Party Name
                <app-sorting (action)="sort($event)" by="partyName" order="asc"></app-sorting>
            </th>            
            <th>Created
                <app-sorting (action)="sort($event)" by="createdDate" order="asc"></app-sorting>
            </th>
            <th class="roles">Roles</th>
            <th class="activity">Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | async | paginate: { id:'users-pagination', itemsPerPage: query.pageSize, currentPage: query.page, totalItems: query.total }">
            <td>{{user.username}}</td>
            <td *ngIf="!hidePartyColumns">{{user.partyId}}</td>
            <td *ngIf="!hidePartyColumns">{{user.partyName}}</td>
            <td>{{user.createdDate| date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                <div *ngFor="let role of user.roles">{{ getRole(role) }}</div>
            </td>
            <td>
                <i [ngClass]="user.active ? 'fa fa-check-circle-o' : 'fa fa-times-circle-o'" aria-hidden="true"></i>
            </td>
            <td class="actions-cell" *ngIf="user.identityId != currentUser.id">
                <div class="actions">
                    <i class="fa fa-pencil" aria-hidden="true" (click)="edit(user)" title="Edit"></i>
                    <i class="fa fa-trash" aria-hidden="true" (click)="delete(user)" title="Delete"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls *ngIf="!(query.page == 1 && query.total <= query.pageSize)" id="users-pagination"
    [directionLinks]="true" [previousLabel]="''" [nextLabel]="''" (pageChange)="onPageChange($event)"></pagination-controls>
