:host {
  .required:after {
    content: '*';
    color: red;
  }
  .btn {
    margin-bottom: 20px;
    margin-right: 10px;
    .fa {
      margin-right: 10px;
    }
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
