<div class="container p-0">
    <div class="row">
        <div class="col-md">
            <h3>Forgot password</h3>
        </div>
    </div>
    <div class="row" *ngIf="!success">
        <div class="col-md">
            <form #user="ngForm">
                <div class="form-group">
                    <label for="username">Type in your username <span class="required"></span></label>
                    <input class="form-control" type="text" [(ngModel)]="username" #usernameInput="ngModel" name="username" required>{{emailAddress}}
                </div>
                <div class="error-message" *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
                    Username is required.
                </div>
                <div [ngClass]="{'error-message': !!serverError}" *ngIf="!!serverError">
                    {{ serverError }}
                </div>
                <button type="button" class="btn btn-primary" (click)="login()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>back
                </button>
                <button type="submit" class="btn btn-primary" (click)="sendForgotPasswordEmail()" [disabled]="!user.form.valid">
                    <i class="fa fa-check" aria-hidden="true"></i>send email
                </button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="success">
        <div class="col-md">
            <div>
                <p>Email sent successfully</p>
                <p>Click
                  <a (click)="login()">
                    <b>here</b>
                  </a> to login</p>
              </div>
        </div>
    </div>
</div>