@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import './assets/_bootstrap_reset.scss';
@import './assets/_buttons.scss';
@import './assets/_inputs.scss';
@import './assets/_alrtifyjs_overrides.scss';
@import './assets/_tables.scss';
html body {
  font-family: Lato;
}
*,
:after,
:before {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  padding: 5px 0 5px 20px;
  overflow: hidden;
  color: #623760;
  font-size: 16px;
  line-height: 17px;
  border-left: 2px solid #623760;
  margin-right: 60px;
  margin-top: 3px;
}

h4 {
  color: #61385f;
  font-size: 22px;
  margin: 8px 0;
  font-weight: 700;
}

h3 {
  color: #61385f;
  font-size: 32px;
  margin: 8px 0;
  font-weight: 700;
}

a {
  color: #61385f;
  &:hover {
    color: #61385f;
  }
}

input[type='text'],
input[type='password'],
input[type='date'] {
  &[readonly],
  &[disabled],
  &:disabled,
  &:read-only {
    cursor: default;
    &:focus {
      box-shadow: none;
    }
  }
}

select {
  &[readonly],
  &[disabled],
  &:disabled,
  &:read-only {
    cursor: default;
    &:focus {
      box-shadow: none;
    }
  }
}

fieldset {
  border: none;
  margin: 10px 0;
  padding: 0;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fa {
  margin-right: 10px;
  &.fa-check-circle-o {
    color: green;
  }
  &.fa-times-circle-o {
    color: red;
  }
  &.custom-arrow-right {
    margin-right: -25px;
  }
}
label {
  display: block;
  color: #aaa;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
  &.inline {
    display: inline;
  }
}
.required:after {
  content: '*';
  color: red;
}

.btn {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  .fa {
    margin-right: 10px;
  }
}

.row label ~ span {
  display: block;
  margin-top: 10px;
}

.multiselect-dropdown {
  .dropdown-btn {
    margin-left: 0px !important;
    border-radius: 0px !important;
    width: 300px !important;
    border: 1px solid #e5e5e5 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: unset !important;
    padding: 10px 6px 10px 6px !important;
    height: 45px !important;
  }
}

.dropdown-list {
  width: 295px !important;
  .filter-textbox {
    padding: 0px !important;
    width: 289px !important;
    input {
      height: 40px !important;
      margin-top: 2px !important;
      margin-left: 2px !important;
      margin-bottom: 2px !important;
      margin-right: 2px !important;
    }
  }
  padding-top: 0px !important;
}

.actions {
  i.fa {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #61385f;
    &:hover {
      color: #fff;
      background-color: #61385f;
      transition: 0.5s all;
      cursor: pointer;
    }
  }
}
