<app-search (action)="search($event)"></app-search>
<button type="button" class="btn btn-primary" (click)="create()" *appAllowedForRoles="[roles.ArEntitledPartyCreator]">
  <i class="fa fa-plus" aria-hidden="true"></i>add
</button>
<h3>Policies</h3>
<table class="app-table">
  <thead>
    <tr>
      <th>AR-identifier
        <app-sorting (action)="sort($event)" by="arIdentifier" order="asc"></app-sorting>
      </th>
      <th>Policy Issuer
        <app-sorting (action)="sort($event)" by="policyIssuer" order="asc"></app-sorting>
      </th>
      <th>Access Subject
        <app-sorting (action)="sort($event)" by="accessSubject" order="asc"></app-sorting>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies | async | paginate: { id:'policies-pagination', itemsPerPage: query.pageSize, currentPage: query.page, totalItems: query.total }">
      <td>{{policy.authorizationRegistryId}}</td>
      <td>{{policy.policyIssuer}}</td>
      <td>{{policy.subject}}</td>
      <td class="actions-cell">
        <div class="actions">
          <i *appAllowedForRoles="[roles.ArEntitledPartyCreator, roles.ArEntitledPartyViewer, roles.SchemeOwner]" class="fa fa-eye"
            aria-hidden="true" (click)="view(policy)" title="View"></i>
          <i *appAllowedForRoles="[roles.ArEntitledPartyCreator]" class="fa fa-clone" aria-hidden="true" (click)="copy(policy)"
            title="Copy"></i>
          <i *appAllowedForRoles="[roles.ArEntitledPartyCreator]" class="fa fa-pencil" aria-hidden="true" (click)="edit(policy)"
            title="Edit"></i>
          <i *appAllowedForRoles="[roles.ArEntitledPartyCreator, roles.ArEntitledPartyViewer, roles.SchemeOwner]" class="fa fa-download"
            aria-hidden="true" (click)="download(policy)" title="Download"></i>
          <i *appAllowedForRoles="[roles.ArEntitledPartyCreator]" class="fa fa-trash-o" aria-hidden="true" (click)="delete(policy)"
            title="Delete"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls *ngIf="!(query.page == 1 && query.total <= query.pageSize)" id="policies-pagination"
  [directionLinks]="true" [previousLabel]="''" [nextLabel]="''" (pageChange)="onPageChange($event)"></pagination-controls>