body {
  .alertify-notifier {
    .ajs-message.ajs-error {
      background: #eb5f56;
      color: #fff;
      text-shadow: none;
      font-size: 14px;
    }
    .ajs-message.ajs-success {
      color: #fff;
      background: #61385f;
      text-shadow: none;
      font-size: 14px;
    }
  }
}
