.btn {
  &.btn-primary {
    -webkit-appearance: none;
    color: #61385f;
    box-shadow: none;
    border: 1px solid #61385f;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 48px 16px 24px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    transition: 150ms all;
    &:hover {
      color: #fff;
      background-color: #61385f;
    }
    &:focus {
      outline: 0;
    }
  }
  &[disabled] {
    background-color: #eee;
    border-color: #ccc;
    color: #ccc;
    cursor: default;
    &:hover {
      color: #ccc;
      background-color: #eee;
    }
  }
  .fa-arrow-right {
    margin-right: -32px;
    margin-left: 16px;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #61385f;
  background-color: #fff;
  border-color: #61385f;
  &:focus {
    box-shadow: unset;
  }
}
