<div class="container p-0">
    <div class="row" *ngIf="showLogin">
        <div class="container p-0">
            <div class="row">
                <div class="col-md">
                    <h3>Login</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="login()" style="display: inline-block">
                        <div class="form-group">
                            <input autofocus type="text" placeholder="username" formControlName="username" class="form-control">
                            <div class="error-message" *ngIf="form.get('username').hasError('required') && form.get('username').dirty">
                                Username is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="password" formControlName="password" class="form-control">
                            <div class="error-message" *ngIf="form.get('password').hasError('required') && form.get('password').dirty">
                                Password is required.
                            </div>
                        </div>
                        <div [ngClass]="{'error-message': !!serverError}" *ngIf="!!serverError">
                            {{serverError}}
                        </div>
                        <button type="submit" class="btn btn-primary login" [disabled]="form.pristine || form.dirty && !form.valid">login
                            <i class="fa fa-arrow-right custom-arrow-right" aria-hidden="true"></i>
                        </button>
                        <a id="forgotPassword" *ngIf="config.enableForgotPassword" class="pull-right" (click)="forgotPassword()">Forgot
                            password?
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="show2Fa">
        <div class="col-md">
            <form class="form-horizontal" [formGroup]="twoFactorForm" (ngSubmit)="login2Fa()">
                <div class="form-group">
                    <label for="code">authenticator code</label>
                    <input type="text" formControlName="twoFactorCode" placeholder="enter code" id="code" class="form-control"
                        autocomplete="off">
                    <div class="error-message" *ngIf="twoFactorForm.get('twoFactorCode').hasError('required') && twoFactorForm.get('twoFactorCode').dirty">
                        Code is required.
                    </div>
                    <div [ngClass]="{'error-message': !!twoFactorServerError}" *ngIf="!!twoFactorServerError">
                        {{twoFactorServerError}}
                    </div>
                    <button type="button" class="btn btn-primary action" (click)="back()"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i>back
                    </button>
                    <button type="submit" class="btn btn-primary action" [disabled]="twoFactorForm.pristine || twoFactorForm.dirty && !twoFactorForm.valid"><i
                            class="fa fa-circle" aria-hidden="true"></i>submit

                    </button>

                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="show2FaSetup">
        <div class="container" *ngIf="!!QRcode">
            <div class="row">
                <div class="col-md">
                    <h3>Enable two-factor</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md">
                            <h5>Scan the following QR code with your Google Authenticator app to register the
                                authenticator.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <ngx-qrcode [qrc-element-type]="'url'" [qrc-value]="QRcode" qrc-class="aclass"
                                qrc-errorCorrectionLevel="L">
                            </ngx-qrcode>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <h5>If your device has no QR code scanning options, you can manually insert the following
                                code in the
                                authenticator app to register it: </h5>
                            <h5 class="key">{{sharedKey}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <h5>After you register the app in the authenticator, insert the code provided by the
                                authenticator in the
                                following field:</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <form class="form-horizontal" [formGroup]="twoFactorSetupForm" (ngSubmit)="enable2fa()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="enter code" formControlName="twoFactorSetupCode">
                                    <div class="error-message" *ngIf="twoFactorSetupForm.get('twoFactorSetupCode').hasError('required') && twoFactorSetupForm.get('twoFactorSetupCode').dirty">
                                        Code is required.
                                    </div>
                                    <div [ngClass]="{'error-message': !!twoFactorSetupServerError}" *ngIf="!!twoFactorSetupServerError">
                                        {{twoFactorSetupServerError}}
                                    </div>
                                    <button type="button" class="btn btn-primary action" (click)="back()"><i class="fa fa-arrow-left"
                                            aria-hidden="true"></i>back
                                    </button>
                                    <button type="submit" class="btn btn-primary action"
                                        [disabled]='twoFactorSetupForm.pristine || twoFactorSetupForm.dirty && !twoFactorSetupForm.valid'>
                                        <i class="fa fa-gear" aria-hidden="true"></i>enable </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>