:host {
  #top-menu-bar {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    height: 65px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    z-index: 60;
    #logo {
      background-image: url('./../assets/images/ishare_logo.svg');
      width: 150px;
      height: 45px;
      margin: 10px 10px 10px 25px;
      background-repeat: no-repeat;
      background-size: contain;
      float: left;
      padding-right: 20px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    h2 {
      margin: 0;
      padding: 5px 0 5px 20px;
      overflow: hidden;
      color: #623760;
      font-size: 16px;
      line-height: 17px;
      border-left: 2px solid #623760;
      margin-right: 60px;
      margin-top: 3px;
    }
    #profile {
      margin-left: auto;
      height: 65px;
      #profileInfo {
        display: inline-block;
        margin-top: -14px;
        p {
          height: 4px;
        }
        cursor: pointer;
      }
      #btn-logout {
        margin-right: 25px;
        line-height: 65px;
        width: 65px;
        text-align: right;
        font-size: 30px;
        color: #623760;
        cursor: pointer;
        transition: color ease-out 150ms;
        &:hover {
          color: #eb5f56;
        }
      }   
      .profile-email {
        cursor: pointer;
        text-decoration: underline;
      }   
    }
  }
  #app-frame {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 0;
    #content {
      width: 1140px;
      margin: 0 auto;
    }
  }
}
