<div class="container p-0" *ngIf="!loading">
  <div class="row">
    <div class="col-md">
      <h3>Edit user {{model.username}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="container p-0">
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <span class="form-info">{{model.email}}</span>
              </div>
              <div class="form-group">
                <label>username</label>
                <span class="form-info">{{model.username}}</span>
              </div>
              <div class="form-group" *ngIf="!isPartyHidden">
                <label>Party Id</label>
                <input class="form-control" autofocus type="text" placeholder="party id" formControlName="partyId">
                <div class="error-message" *ngIf="form.get('partyId').hasError('required') && form.get('partyId').dirty">
                  Party Id is required.
                </div>
              </div>
              <div class="form-group" *ngIf="!isPartyHidden">
                <label>Party Name</label>
                <input class="form-control" type="text" placeholder="party name" formControlName="partyName">

                <div class="error-message" *ngIf="form.get('partyName').hasError('required') && form.get('partyName').dirty">
                  Party name is required.
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-4">
                  <label>Activation state</label>
                  <span class="form-info">{{model.active ? 'active' : 'inactive'}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <input type="hidden" formControlName="roles">
                    <label>Assign</label>
                    <div class="role" *ngFor="let role of unassignedRoles" (click)="addRole(role)">
                      <i class="fa fa-plus" aria-hidden="true"></i>{{role | humanize}}</div>
                    <span *ngIf="unassignedRoles.length === 0" class="form-info">none</span>
                    <label>Roles</label>
                    <div class="role assigned" *ngFor="let role of roles">{{role | humanize}}
                      <i class="fa fa-times" aria-hidden="true" (click)="removeRole(role)"></i>
                    </div>
                    <div class="error-message" *ngIf="form.get('roles').hasError('required') && form.get('roles').touched">
                      At least one role is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div [ngClass]="{'error-message': !!serverError}" *ngIf="!!serverError">
                {{serverError}}
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" (click)="back()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>back
              </button>
            </div>
            <div class="col-md-6">
              <button [disabled]="model.active" type="button" class="btn btn-primary wideButton" (click)="sendActivationEmail()">
                <span>send activation email</span>
              </button>
              <button type="button" class="btn btn-primary wideButton" [disabled]="!model.active || !passwordResetEnabled" (click)="resetUserPassword(); passwordResetEnabled=!passwordResetEnabled">
                <span>reset password</span>
              </button>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary right" [disabled]="form.pristine || form.dirty && !form.valid">
                <i class="fa fa-check" aria-hidden="true"></i>update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>