$placeholder-color: #c5c5c5;
input {
  &[type='text'],
  &[type='password'] {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px;
    width: 300px;
    border: 1px solid #e5e5e5;
    &::placeholder {
      color: $placeholder-color;
      opacity: 1;
      text-transform: uppercase;
    }
    &:-ms-input-placeholder {
      color: $placeholder-color;
      text-transform: uppercase;
    }
    &::-ms-input-placeholder {
      color: $placeholder-color;
      text-transform: uppercase;
    }
    &:focus {
      outline: 0;
      box-shadow: 0 0 4px #eb5f56;
    }
  }
}
.panel {
  .panel-half {
    width: 50%;
    float: left;
  } 
  .panel-third {
    width: 33.33%;
    float: left;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.form-control {
  margin: 32px 0;
  label {
    display: block;
    color: #aaa;
    text-transform: uppercase;
    margin: 5px 0;
  }
  .form-info {
    color: #aaa;
    user-select: none;
    display: inline-block;
    height: 26px;
    line-height: 26px;
  }
}

.error-message {
  margin-top: 16px;
  display: block;
  color: #eb5f56;
}
