<div class="container p-0" *ngIf="!loading">
  <div class="row">
    <div class="col-md">
      <form #form="ngForm" (ngSubmit)="save()">
        <div class="container p-0">
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="form-group">
                <label>email</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="email"
                  [(ngModel)]="user.email"
                  #emailInput="ngModel"
                  name="emailInput"
                  disabled
                />
              </div>
              <div class="form-group">
                <label class="global-role" *ngIf="isSchemeOwner"
                  ><input
                    type="checkbox"
                    name="checkbox"
                    value="value"
                    [(ngModel)]="makeSchemeOwner"
                  /><span>Scheme Owner Administrator</span></label
                >
              </div>
              <div class="form-group" *ngIf="!makeSchemeOwner && isSchemeOwner">
                <label>party id</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="party id"
                  [(ngModel)]="user.partyId"
                  #partyIdInput="ngModel"
                  name="partyIdInput"
                  required
                />
                <div
                  class="error-message"
                  *ngIf="partyIdInput.hasError('required') && partyIdInput.dirty"
                >
                  Party id is required.
                </div>
              </div>
              <div class="form-group" *ngIf="!makeSchemeOwner && isSchemeOwner">
                <label>party name</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="party name"
                  [(ngModel)]="user.partyName"
                  #partyNameInput="ngModel"
                  name="partyNameInput"
                  required
                />
                <div
                  class="error-message"
                  *ngIf="partyNameInput.hasError('required') && partyNameInput.dirty"
                >
                  Party Name is required.
                </div>
              </div>
              <div class="form-group" *ngIf="!makeSchemeOwner">
                <label>roles</label>

                <app-custom-multi-select
                  [data]="roles"
                  [(ngModel)]="selectedRoles"
                  name="rolesInput"
                  [settings]="rolesOptions"
                  [placeholder]="'Select Roles'"
                >
                </app-custom-multi-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Activation state</label>
                <span class="form-info">{{ user.active ? 'active' : 'inactive' }} </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div [ngClass]="{ 'error-message': !!serverError }" *ngIf="!!serverError">
                {{ serverError }}
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" (click)="back()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>back
              </button>
            </div>
            <div class="col-md-6">
              <button
                [disabled]="user.active"
                type="button"
                class="btn btn-primary wideButton"
                (click)="sendActivationEmail()"
              >
                <span>send activation email</span>
              </button>
              <button
                type="button"
                class="btn btn-primary wideButton"
                [disabled]="!user.active || !passwordResetEnabled"
                (click)="resetUserPassword(); passwordResetEnabled = !passwordResetEnabled"
              >
                <span>reset password</span>
              </button>
            </div>
            <div class="col-md-3">
              <button
                type="submit"
                class="btn btn-primary right"
                [disabled]="
                  form.pristine ||
                  !form.dirty ||
                  (form.dirty && !form.valid) ||
                  (!makeSchemeOwner && !selectedRoles.length)
                "
              >
                <i class="fa fa-check" aria-hidden="true"></i>update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
