<div *ngIf="!serverError && !success">
  <h3>Reset account password</h3>

  <form #activateForm="ngForm" (ngSubmit)="confirmPasswordReset()">

    <div class="form-control">
      <label for="password">password</label>
      <input type="password" [(ngModel)]="model.newPassword" id="newPassword" #newPassword="ngModel" name="newPassword" required
        minlength="8" appMinUppercase="1" appMinLowercase="1" appMinSpecialChars="1" appMinNumeric="1" />
      <app-display-errors [for]="newPassword" *ngIf="newPassword.dirty">
        <app-validation-message [name]="'minLowercase'"> at least one lowercase character is required </app-validation-message>
        <app-validation-message [name]="'minUppercase'"> at least one uppercase character is required</app-validation-message>
        <app-validation-message [name]="'minSpecialChars'"> at least one special character is required</app-validation-message>
        <app-validation-message [name]="'minNumeric'">at least one numeric character is required</app-validation-message>
      </app-display-errors>
    </div>
    <div class="form-control">
      <label for="confirmPassword">confirm password</label>
      <input type="password" [(ngModel)]="model.confirmPassword" id="confirmPassword" #confirmPassword="ngModel" name="confirmPassword"
        required>
      <div class="error-message" *ngIf="confirmPassword.value !== newPassword.value && confirmPassword.dirty">
        Passwords don't match
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="(!activateForm.valid || newPassword.value !== confirmPassword.value)">save
      <i class="fa fa-arrow-right custom-arrow-right" aria-hidden="true"></i>
    </button>
  </form>
</div>
<div *ngIf="serverError">
  <h3>Password reset error</h3>
  <p>Unable to reset password. Click
    <a (click)="reload()">here</a> to try again. If errors are not resolved, please contact the administrator at
    <a href="mailto:support@ishare.net">support@ishare.net</a>
  </p>
  <h4>Details</h4>
  <ul>
    <li class="error-message" *ngFor="let error of serverError">
      {{error}}
    </li>
  </ul>
</div>
<div *ngIf="success">
  <h3>Reset password</h3>
  <p>Password reset successful</p>
  <p>Click
    <a (click)="login()" href="/">
      <b>here</b>
    </a> to login</p>
</div>
