<div class="container p-0" *ngIf="!serverError && !success">
  <div class="row">
    <div class="col-md">
      <h3>Reset account password</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <form #activateForm="ngForm" (ngSubmit)="confirmPasswordReset()">
        <div class="form-group">
          <label for="password">create new password</label>
          <input class="form-control" type="password" [(ngModel)]="model.newPassword" id="newPassword" #newPassword="ngModel" name="newPassword" required
            minlength="8" appMinUppercase="1" appMinLowercase="1" appMinSpecialChars="1" appMinNumeric="1" />
          <app-display-errors [for]="newPassword" *ngIf="newPassword.dirty">
            <app-validation-message [name]="'minLowercase'"> At least one lowercase character is required. </app-validation-message>
            <app-validation-message [name]="'minUppercase'"> At least one uppercase character is required.</app-validation-message>
            <app-validation-message [name]="'minSpecialChars'"> At least one special character is required.</app-validation-message>
            <app-validation-message [name]="'minNumeric'">At least one numeric character is required.</app-validation-message>
            <div class="error-message" *ngIf="newPassword.touched && newPassword?.errors?.minlength">Password must be at least 8 characters long.</div>
          </app-display-errors>
        </div>
        <div class="form-group">
          <label for="confirmPassword">confirm password</label>
          <input class="form-control" type="password" [(ngModel)]="model.confirmPassword" id="confirmPassword" #confirmPassword="ngModel" name="confirmPassword"
            required>
          <div class="error-message" *ngIf="confirmPassword.value !== newPassword.value && confirmPassword.dirty">
            Passwords don't match.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="(!activateForm.valid || newPassword.value !== confirmPassword.value)">save
          <i class="fa fa-arrow-right custom-arrow-right" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>

</div>
<div *ngIf="serverError">
  <h3>Password reset error</h3>
  <p>Unable to reset password. Click
    <a (click)="reload()">here</a> to try again. If errors are not resolved, please contact the administrator at
    <a href="mailto:support@ishareworks.org">support@ishareworks.org</a>.
  </p>
  <h4>Details</h4>
  <ul>
    <li class="error-message" *ngFor="let error of serverError">
      {{error}}
    </li>
  </ul>
</div>
<div *ngIf="success">
  <h3>Reset password</h3>
  <p>Password reset successful</p>
  <p>Click
    <a (click)="login()">
      <b>here</b>
    </a> to login</p>
</div>