:host {
  .btn {
    margin-top: 10px;
    margin-right: 10px;
    .fa {
      margin-right: 10px;
    }
  }
  #editor {
    min-height: 500px;
    width: 100%;
    overflow: auto;
    border: 1px solid #f8f8f8;
  }
}
