<div *ngIf="visible">
  <div id="menu-toggler" (click)="toggleActive()">menu</div>
  <ul id="menu-items">
      <li *ngFor="let menuItem of activeMenuItems"
          class="menu-item"
          [routerLink]="menuItem.links"
          routerLinkActive="active"
          title="{{'Navigate to ' + menuItem.text}}"
          (click)="toggleActive()"
          >
            <i class="{{menuItem.class}}" aria-hidden="true"></i>
            <span class="menu-item-title">{{menuItem.text}}</span>
      </li>
  </ul>
</div>
