<div *ngIf="visible">
  <div id="menu-toggler" (click)="active = !active">menu</div>
  <ul id="menu-items">
    <li class="menu-item" 
        [routerLink]="['policies']" 
        routerLinkActive="active" 
        title="Navigate to policies overview" 
        *appAllowedForRoles="[roles.SchemeOwner, roles.EntitledPartyViewer, roles.EntitledPartyCreator]"
        (click)="active = !active">
      <i class="fa fa-file-text" aria-hidden="true"></i>
      <span class="menu-item-title">Policies</span>
    </li>
    <li class="menu-item" 
        [routerLink]="['users']" 
        routerLinkActive="active" 
        title="Navigate to users overview" 
        *appAllowedForRoles="[roles.SchemeOwner]"
        (click)="active = !active">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span class="menu-item-title">Users</span>
    </li>
    <li class="menu-item" 
        [routerLink]="['test']" 
        routerLinkActive="active" 
        title="Navigate to test delegation mask" 
        *appAllowedForRoles="[roles.SchemeOwner, roles.EntitledPartyViewer, roles.EntitledPartyCreator]"
        (click)="active = !active">
      <i class="fa fa-play-circle" aria-hidden="true"></i>
      <span class="menu-item-title">Test</span>
    </li>
  </ul>
</div>