<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Account activation email from iSHARE Authorization Registry</title>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td style="background-color: #fff; height: 65px; border-bottom: 2px solid#623760; display: flex; padding-bottom: 5px;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="{LogoUrl}" alt="iSHARE" style="width: 150px; height: 45px;" width="150" height="45"/>
                                </td>
                                <td>
                                    <div style="display: inline-block; margin-top: 10px; margin-left: 15px; margin-bottom: 10px; padding: 5px 0 5px 20px; overflow: hidden; color: #623760; font-size: 16px; font-weight: bold;  border-left: 2px solid #623760;">Authorization Registry</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 16px; font-weight: bold; padding-top: 10px; color: #623760;">
                    Hello {Username},
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px;padding-top: 10px;">
                    Click <a style="font-weight: bold" href="{ActionUrl}">here</a> to activate your account.
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>