i {
  cursor: pointer;
}
.btn {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  .fa {
    margin-right: 10px;
  }
}
.fa-trash {
  margin-left: 5px;
  color: red;
}
.fa-plus {
  margin-left: 10px;
}
input[type='text'] {
  margin-bottom: 10px;
}
.delegation {
  height: 650px;
  max-height: 650px;
  overflow-y: auto;
}
